<div class="container">




    <div class="image-site">
        <img src="images\image-site.png">
    </div>

    <div class="contact-us">
        <h2>اطلاعات تماس</h2>
        <div class="information">
            <div class="title">
                <li class="tit">آدرس</li>
                <li class="tit">کدپستی</li>
                <li class="tit">تلفن</li>
                <li class="tit">پست الکترونیک</li>
            </div>
            <div class="data">
                <li class="tit">تهران خیابان حافظ</li>
                <li class="tit">1234567891</li>
                <li class="tit">021-12345678</li>
                <li class="tit">trust@yahoo.com</li>
            </div>
        </div>
    </div>







</div>