<!-- <form class="example-form">
    <mat-form-field class="example-full-width">
        <mat-label>Favorite food</mat-label>
        <input matInput placeholder="Ex. Pizza" value="Sushi">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>Leave a comment</mat-label>
        <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
    </mat-form-field>
</form>
<mat-slider min="1" max="100" step="1" value="1"></mat-slider> -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://www.w3schools.com/js/myScript1.js"></script>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>

    <div class="menu">
        <div class="menu-list">
            <div class="logo">
                <img src="assets/images/logo.png">
            </div>
            <div>
                <ul class="menu-items">
                    <li><a class="menu-link" routerLink="/main-component" routerLinkActive="active">صفحه اصلی</a></li>

                    <li><a class="menu-link">درباره ما</a></li>
                    <li><a class="menu-link">سوالات متداول</a></li>
                    <li> <a class="menu-link"> ثبت نام کاربران </a></li>
                    <li> <a class="menu-link"> ورود کاربران</a></li>
                    <li> <a class="menu-link" routerLink="/form-component" routerLinkActive="active">ارتباط با ما </a></li>

                </ul>
            </div>
        </div>
        <div class="log">
            <mat-card-actions>
                <button mat-raised-button class="button-a" type="submit">ثبت نام کاربران</button>
                <button mat-raised-button class="button-b" type="submit">ورود کاربران</button>

            </mat-card-actions>

        </div>
    </div>

    <!-- 
    <button type="button" onclick="functionA()"><li><a >First Component</a></li></button>
    <button type="button" onclick="functionA()"><li><a routerLink="/main-component" routerLinkActive="active">main Component</a></li></button> -->
    <!-- <form class="tp-form">
        <mat-form-field class="tp-full-width">
            <input type="text" placeholder="US State" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let state of states" [value]="state.value">
                    {{state.display}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </form> -->
    <router-outlet></router-outlet>

</body>

</html>